body{
    background-image: url("crakcedIce.jpg");
    background-repeat: repeat;
    background-size: 150px 150px;
}

img.entete{
    display: inline-block;
    text-align: right;
}

a{
    color:red;
    font-size: 29px;
}